@import "./reset.css";
@import "./tokens.module.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--regular-text);
    color: var(--blue-color);
    line-height: 1.4; 
}

a:focus, button:focus {
  outline-color: var(--green-color);
}

.visually-hidden {
  position: absolute!important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  white-space: nowrap;
}

strong {
  font-weight: 700;
}