:root {
    --blue-color: #2F2873;
    --red-color: #F24F5B;
    --green-color: #00FFB2;
    --extrasmall-spacer: 1rem;
    --small-spacer: 1.6rem;
    --medium-spacer: 3.6rem;
    --regular-text: 2rem;
}





  