.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 62rem;
}

.formLabel {
    font-weight: 700;
    font-size: 2.4rem;
}

.formInput {
    border: .3rem solid var(--blue-color);
    padding: var(--extrasmall-spacer);
    background-color: var(--red-color);
    font-size: 2.4rem;
    outline: var(--red-color);
    color: var(--blue-color);
    resize: none;
    width: 100%;
    margin-bottom: var(--regular-spacer);
    margin-top: -3rem;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

.message {
    position: relative;
    right: .3rem;
    display: block;
    text-align: right;
    top:  var(--extrasmall-spacer);
    height: 2.8rem;
    pointer-events: none;
}

.message span {
    background-color: var(--red-color);
    padding: var(--extrasmall-spacer);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--red-color) inset !important;
    -webkit-text-fill-color: var(--blue-color) !important;
}

.formSubmit {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--blue-color);
    padding: var(--extrasmall-spacer) var(--small-spacer);
    text-align: center;
    border: .3rem solid var(--blue-color);
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: var(--red-color);
    cursor: pointer;
}

.formSubmit:hover {
    background-color: var(--blue-color);
    color: var(--red-color);
}

.globalMessage {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: var(--small-spacer);
    width: 100%;
    z-index: 1000;
    animation: disapear  5s forwards;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

@keyframes disapear {
    0%   {transform: translateY(-100px);}
    10%  {transform: translateY(0);}
    90%  {transform: translateY(0);}
    100% {transform: translateY(-100px);}
}

@media (min-width: 600px) {
    .formSubmit {
        align-self: flex-end;
    }
}