/* HEADER */
.header {
    background-color: var(--red-color);
    position: fixed;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.3s ease;
    z-index: 999;
}

.headerNav {
    width: 100%;
    max-width: 96rem;
    padding: 0 var(--extrasmall-spacer);
    margin: var(--extrasmall-spacer) auto 0rem;
} 

.headerNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.headerNav li a {
    display: block;
    color: var(--blue-color);
    font-weight: bold;
    text-decoration: none;
}

.headerNav .headerNavLogo {
    display: block;
    float: left;
    text-decoration: none;
}

.headerNavTitleImg {
    width: 8rem;
}

.headerNav .headerNavList {
    clear: both;
    max-height: 0;
    height: 100vh;
    transition: max-height .3s ease-out;
}

.headerNav .headerNavMenuIcon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding-top: 1.8rem;
    position: relative;
    user-select: none;
  }
  
.headerNav .headerNavMenuIcon .headerNavMenuIconNavicon {
    background: var(--blue-color);
    display: block;
    height: .5rem;
    position: relative;
    transition: background .2s ease-out;
    width: 3.3rem;
}

.headerNav .headerNavMenuIcon .headerNavMenuIconNavicon:before,
.headerNav .headerNavMenuIcon .headerNavMenuIconNavicon:after {
    background: var(--blue-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.headerNav .headerNavMenuIcon .headerNavMenuIconNavicon:before {
    top: 1rem;
}

.headerNav .headerNavMenuIcon .headerNavMenuIconNavicon:after {
    top: -1rem;
}

.headerNav .headerNavMenuBtn {
    display: none;
}

.headerNav .headerNavMenuBtn:checked ~ .headerNavList {
    height: 100vh;
    max-height: 100vh;
}

.headerNav .headerNavMenuBtn:checked ~ .headerNavMenuIcon .headerNavMenuIconNavicon {
    background: transparent;
}

.headerNav .headerNavMenuBtn:checked ~ .headerNavMenuIcon .headerNavMenuIconNavicon:before {
    transform: rotate(-45deg);
}

.headerNav .headerNavMenuBtn:checked ~ .headerNavMenuIcon .headerNavMenuIconNavicon:after {
    transform: rotate(45deg);
}

.headerNav .headerNavMenuBtn:checked ~ .headerNavMenuIcon:not(.steps) .headerNavMenuIconNavicon:before,
.headerNav .headerNavMenuBtn:checked ~ .headerNavMenuIcon:not(.steps) .headerNavMenuIconNavicon:after {
    top: 0;
}

.headerNavListItem {
    text-align: center;
    font-size: var(--small-title);
    margin-top: 2.4rem;
}
  
.hidden {
    transform: translateY(-110%);
}

@media (min-width: 600px) {
    .headerNav li {
        float: left;
    }
    .headerNavTitleImg {
        width: 13rem;
    }
    .headerNavListItem {
        text-align: center;
        font-size: var(--regular-text);
        margin-top: 0;
    }
    .headerNavListItemLink {
        margin-left: var(--regular-spacer);
    }

    .headerNavListItemLink:after {
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        bottom: 0;
        display: block;
        height: .3rem;
        width: 0%;
        content: "";
        background-color: var(--blue-color);
    } 

    .headerNavListItemLink:hover:after,
    .headerNavListItemCurrent:after {
        opacity: 1;
        width: 100%;
    }

    .headerNav .headerNavList {
        clear: none;
        float: right;
        max-height: none;
        height: 6.5rem;
        margin-top: var(--regular-spacer);
        padding-top: .5rem;
    }
    .headerNav .headerNavMenuIcon {
        display: none;
    }
}

@media (min-width: 768px) {
    .headerNavListItemLink {
        margin-left: 4rem;
    }
}


/* FOOTER */
.footer {
    background-color: var(--blue-color);
}

.footerInnerwrapper {
    padding: var(--medium-spacer) var(--small-spacer);
    max-width: 96rem;
    margin: 0 auto
}

.footerLogo {
    width: 13rem;
    display: block;
    margin: 0 auto var(--medium-spacer) auto ;
}

.footerContact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContactLink {
    text-decoration: none;
    line-height: 1;
    margin-bottom: var(--extrasmall-spacer);
    color: var(--red-color);
}

.footerSocials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--extrasmall-spacer);
    margin-top: var(--small-spacer);
}

.footerCopyRight {
    color: var(--red-color);
    text-align: center;
    margin-top: var(--medium-spacer);
}

.link {
    composes: linkRed from "../styles/controls.module.css";
}

@media (min-width: 600px) {
    .footerInnerwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footerLogo {
        justify-self: start;
        margin: 0;
    }

    .footerContact {
        justify-self: end;
        align-items: flex-end;
        margin-top: var(--small-spacer);
    }

    .footerCopyRight {
        grid-column: 1/3;
    }

    .footerLogo {
        width: 22rem;
    }
}